# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle wrapper directory
gradle

# Ignore Gradle build output directory
build

# Ignore unnecessary JavaFX files
javafx-sdk-11.0.2

.idea
out