@font-face {
    /*-fx-font-family: 'PermanentMarker';*/
    src: url("../other/PermanentMarker-Regular.ttf");
}

@font-face {
    /*-fx-font-family: 'Indie Flower';*/
    src: url("../other/IndieFlower-Regular.ttf");
}


.scroll-pane{
    -fx-border-style: none;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.main_color{
    -fx-background-color: #2b2e3e;
    -fx-text-fill: aliceblue;
}

.menu_button{
    -fx-background-color: #2b2e3e;
    -fx-text-fill: aliceblue;
    -fx-border-color: #2b2e3e;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.menu_button:hover{
    -fx-background-color: transparent;
    -fx-text-fill: #2b2e3e;
    -fx-border-color: #2b2e3e;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.button_on_dark{
    -fx-background-color: #2b2e3e;
    -fx-text-fill: aliceblue;
    -fx-border-color: aliceblue;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.button_on_dark:hover{
    -fx-background-color: aliceblue;
    -fx-text-fill: #2b2e3e;
    -fx-border-color: aliceblue;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.label_h1{
    -fx-background-color: #2b2e3e;
    -fx-text-fill: aliceblue;
    -fx-padding: 20 100 ;
    -fx-border-style: none;
}

.label_h2{
    -fx-text-fill: #2b2e3e;
    -fx-padding: 20 30 ;
}
.label_text{
    -fx-text-fill: #2b2e3e;
    -fx-padding: 5 40 10 40;
}

.indieFlowerFont{
    -fx-font-family: 'Indie Flower';
}

.toolboxLogicGateLabel{
    -fx-text-fill: aliceblue;
    -fx-border-style: solid;
    -fx-padding: 10px 15px;
    -fx-border-color: aliceblue;
    -fx-fit-to-width: true;
    -fx-pref-width: 66px;
    -fx-max-width: 100px;
}